<head>
    <title>TransInit</title>
    <meta name="icon" content="res/img/icon.svg" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="res/css/style.css"/>
    <link rel="stylesheet" href="res/css/viewport.css"/>
    <link rel="stylesheet" href="res/css/credits.css"/>
    <link rel="icon" href="res/img/icon.svg" />
</head>
